.login {
    width: 25%;
    margin: auto;
}

input {
    margin: 5px;
}

body {
    background-image: url(../images/bg2.png);
}

#footer {
    width:100%;
}

.patientBox {
    width: 30%;
    display: inline-block;
    margin: 5px;
    vertical-align: top;
    text-align: left;
}

.patientInfoColumn {
    width: 100%;
    display: inline-block;
    margin: 5px;
    vertical-align: top;
    text-align: left;
}

.indentFive {
    padding-left: 5px;
}

.indentTen {
    padding-left: 10px;
}

.exerciseChart {
    margin: 5px;
}

.header-present {
    padding-top: 75px;
}

.footer-present {
    padding-bottom: 75px;
}

.header-glyphicon {
    padding-right: 10px;
}

.home-glyphicon {
    padding-left: 15px;
}

a:hover {
    text-decoration: none;
}

.navbar-header {
    width: 100%
}

.navbar-footer {
    width: 100%
}

.navbar-brand-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    float: none;
}

.navbar {
    color: #000000;
    background-color: #50e8ab!important;
    border-color: #000000;
}


.navbar-text {
    float: none;
    margin-right: 15px;
    margin-left: 15px;
}

.navbar .navbar-default {
    background-color: #50e8ab!important;
}